:root{
    --bleuFonce: #091e3e;  
    --bleuFonce1: #091a37; 
    --bleuClair3: #06a3da; 
    --grisClair: #dcd7cc; 
    --bleuClair1: #EEF9FF; 
    --grisClair1: #828f9e;
}

/* Header */
header .Tete .teteContainer {
    border: 1px solid black;
    display: flex;
    background-color: var(--bleuFonce);
    padding: 15px 20px;
    justify-content: space-between;
}

header .headTete {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.teteContainer .coordonnees {
    display: flex;
}

.teteContainer .coordonnees .coods {
    display: flex;
    margin-right: 10px;
}

.coods .icon {
    margin-right: 5px;
}

.coods p {
    color: white;
}

.icones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icones .sociaux {
    margin-left: 15px;
    padding: 6px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icones span a {
    text-decoration: none;
    color: white;
}

header .detailBack {
    background: #17475957;
}



/* TeteDescript */

.TeteDescript {
    background-color: #0d2b5612;
}

.TeteDescript nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 20px;
    border-bottom: 2px solid rgba(190, 186, 186, 0.627);
}

nav .navRight {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navRight .menu {
    display: flex;
}

.navRight .menu ul {
    display: flex;
    padding-top: 10px;
}

.navRight ul li {
    list-style-type: none;
    margin-left: 30px;
}

.navRight ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.navRight ul li select {
    border: none;
    background: none;
    color: white;
}

.navRight .menu span {
    margin-right: 20px;
    padding-top: 10px;
}

nav .nav-left h1 {
    font-weight: bold;
    color: white;
    font-size: 25px;
}

nav .nav-left a {
    text-decoration: none;
    color: white;
}

nav .nav-left i {
    font-size: 25px;
    margin-right: 5px;
}

.navRight .boutonNav button {
    background: var(--bleuClair);
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
}

.navRight .boutonNav button a {
    text-decoration: none;
    color: white;
}

.navRight .boutonTog {
    display: none;
}

.navRight .dropMenu {
    display: none;
    position: absolute;
    right: 10%;
    top: 100px;
    width: 80%;
    height: 0;
    background-color: #0d3746f3;
    border-radius: 15px;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navRight .menu .navSearch {
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

.navRight .dropMenu.open {
    height: 340px;
}

.navRight .dropMenu li {
    list-style-type: none;
    margin: 20px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navRight .dropMenu li select {
    border: none;
    background: none;
    color: white;
}

.navRight .dropMenu span {
    margin-left: 150px;
    border: 1px solid;
}

.navRight .dropMenu .boutonNav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.navRight .dropMenu button {
    background-color: white;
    color: var(--bleuFonce);
}

.navRight .dropMenu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 18px;
}

.navRight .dropMenu li:hover {
    text-decoration: underline 3px var(--vert);
}

.navRight .dropMenu li .active {
    text-decoration: underline 3px var(--vert);
}

.navRight .menu .drop {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(44, 44, 184, 0.637);
}

.navRight .menu .drop li {
    padding-bottom: 1%;
    margin: 0;
    display: none;
    font-size: 12px;
    font-weight: thin;
    margin: 5px;
}

.navRight .menu ul li:hover .drop li {
    display: block;
    color: var(--bleuFonce);
}

.navRight .menu .drop li a:hover {
    border-bottom: 4px solid var(--bleuClair);
}

.TeteDetails nav .activeLink {
    text-decoration: underline 3px solid var(--bleuClair);
    text-underline-offset: 2rem;
}

.navRight ul .hovLink:hover {
    text-decoration: underline 3px solid var(--bleuClair);
    text-underline-offset: 2rem;
}

/*  TeteTile */
.TeteTitle {
    background: url(../../public/images/accueil/image1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.TeteTitle .titleBack {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d2b5665;
    padding-top: 10%;
}

.TeteTitle .titleContainer {
    margin-bottom: 6%;
    margin-top: 5%;
    text-align: center;
}

.titleContainer h5 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 4%;
    color: white;
}

.titleContainer p {
    font-size: 18px;
    font-weight: thin;
    margin-bottom: 4%;
    color: white;
}

.titleContainer p a {
    text-decoration: none;
    color: white;
}

.titleContainer p span {
    margin-left: 10px;
    margin-right: 10px;
}

.titleContainer p i {
    font-size: 16px;
}

/* header */



main .container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 30px;
    padding: 10px;
    justify-content: center;
    /* text-align: center */
      
}

main .carte{
  
    border: thin solid rgb(252, 244, 244);
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    background-color:var(--bleuClair1);
    border-radius: 7px;
    line-height: 12px;
    padding: 15px;
    height: 270px;
    margin-bottom: 35px;
}

main .image{
    width: 110%;
    text-align: center;
    margin-left: -15px;
    margin-top: -25px;  
}


main input{
    padding:5px;
    width: 300px;
    /* margin-top: 1%; */
} 
main .fa-magnifying-glass{
    background-color: var(--bleuClair3);
    width: 30px;
    height: 29px;
    text-align: center;
    

}
main h1{
    font-size: 19px;
    font-weight: bold;

}
main a{
    text-decoration: none;
    color: var(--bleuClair3);
    font-size: 12px;


}
main p{
    color: var(--grisClair1);
    font-size: 14px;

}

main .rien{
    background-color: var(--bleuClair3);
    width: 20px;
    height: 2px;
}
main .rien1{
    background-color: var(--bleuClair3);
    width: 60px;
    height: 2px;
    margin-top: -3px;
    margin-left: 35px;
}

main .pcategorie{
    background-color: var(--bleuClair1);
    width: 350px;
    height: 20px;
    color: black;
    padding: 10px;
}

main .imagee
{
    display: flex;
    margin-top: 2%;


}
main .text-image{
    background-color: var(--bleuClair1);
    width: 300px;
    padding: 2px;
    margin-top: 0%;
    /* height: 40px; */
}
main span{
    background-color: var(--bleuClair1);
    padding: 10x;
    text-align: center;
    margin: 1%;
}
main .tag{
    line-height: 25px;

}
/* .plain_text{
    
} */
main .p_plain_text{
    font-size: 19px;
    background-color: var(--bleuClair1);
    text-align: center;
    height: 200px;
    padding: 15px; 
}
main button{
    background-color: var(--bleuClair3);
    border: none;
    padding: 15px;
    width: 150px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
    color: white;
}

/* .pagination
{
    border: 1px solid;
    

} */

main .pagination a{
    text-decoration: none;
    border: 1px solid var(--bleuClair1);
    padding: 10px;
    font-size: 17px;
}
main .pagination a:hover{
    background-color: var(--bleuClair3);
    color: white;

}

main .active{
    background-color: var(--bleuClair3);
    color: white;
}




/* Footer */

footer {
    background-color: #0d2b56;
    padding: 0;
    position: relative;
}

footer .footerContainer {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}

.footerContainer .contentLeft {
    width: 30%;
    padding: 5% 3%;
    background-color: var(--bleuClair);
    z-index: 1;
}

.contentLeft .top-section .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.top-section .logo i {
    color: white;
    font-size: 30px;
    margin-right: 10px;
}

.top-section .logo h3 {
    color: white;
    font-size: 30px;
}

.top-section p {
    text-align: justify;
    color: white;
    margin-bottom: 40px;
}

.top-section input {
    padding: 4% 3%;
    border: none;
}

.top-section button {
    background-color: var(--bleuFonce);
    width: 30%;
    border: none;
    color: white;
    font-weight: bold;
}

.top-section .form-bot {
    display: flex;
}

.top-section input:nth-child(1) {
    width: 70%;
    background-color: white;
}

.top-section input:nth-child(2) {
    width: 24%;
    background-color: var(--bleuFonce);
    color: white;
    font-weight: bold;
}

.footerContainer .contentRight {
    display: flex;
    width: 70%;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 5%;
}

.contentRight h3 {
    color: white;
    margin-bottom: 5%;
}

.top-section-sim .infos-bot {
    margin-bottom: 15px;
}

.top-section-sim li {
    list-style-type: none;
    margin-bottom: 10px;
}

.top-section-sim li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.top-section-sim .media-bot {
    display: flex;
    margin-top: 10px;
}

.media-bot .botIcon {
    margin-right: 10px;
    padding: 10px 15px;
    background-color: var(--bleuClair);
}

.media-bot .botIcon i {
    color: white;
}

.media-bot .botIcon i:hover {
    color: var(--bleuFonce);
}

.contentRight .top-section-sim-2 .infos-bot li {
    list-style-type: none;
    margin-bottom: 10px;
}

.contentRight .top-section-sim-2 .infos-bot li i {
    color: var(--bleuClair);
    margin-right: 10px;
}

.contentRight .top-section-sim-2 .infos-bot li a {
    text-decoration: none;
    color: white;
}

.contentRight .top-section-sim-2 .infos-bot li:hover {
    margin-left: 10px;
}

.copyR {
    background-color: var(--bleuFonce);
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.copyR p {
    margin: 30px;
    color: white;
    padding-left: 30%;
    text-align: center;
}

/* footer */


/* Media queries */
@media (max-width: 900px) {

    .navRight .boutonTog {
        display: block;
        z-index: 1;
        color: white;
    }

    .navRight .dropMenu {
        display: block;
        z-index: 1;
    }

    header .Tete .teteContainer {
        display: none;
    }


    .navRight .dropMenu li:hover .drop {
        display: block;
    }

    .navRight .dropMenu .drop {
        position: absolute;
        display: flex;
        margin-top: 3%;
        margin-left: 60%;
        flex-direction: column;
        margin-bottom: 2%;
        display: none;
    }

    .navRight .dropMenu .drop li {
        margin: 0;
        display: block;
        font-size: 10px;
        font-weight: thin;
    }

    .navRight .dropMenu .drop li a:hover {
        border-bottom: 1px solid var(--bleuClair);
    }

    .teteContainer .coordonnees {
        display: block;
        margin-bottom: 15px;
    }

    .teteContainer .coordonnees .coods {
        justify-content: center;
    }

    .teteContainer .icones {
        display: flex;
        justify-content: center;
    }

    .TeteDescript .navRight .menu {
        display: none;
    }

    .TeteTitle .titleContainer {
        margin-bottom: 6%;
        margin-top: 5%;
        text-align: center;
    }

    .titleContainer h5 {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 4%;
        color: white;
    }

    .titleContainer p {
        font-size: 15px;
        font-weight: thin;
        margin-bottom: 4%;
        color: white;
    }

    /* header */


    /* footer */

    footer {
        padding-top: 30px;
    }

    .footerContainer {
        display: flex;
        flex-direction: column;
    }

    .footerContainer .contentLeft {
        width: 94%;
        margin-bottom: 20px;
    }

    .footerContainer .contentRight {
        width: 94%;
        display: block;
        padding-bottom: 0px;
        margin-bottom: 20px;
    }

    footer .copyR {
        position: relative;
        overflow: hidden;

    }

    footer .copyR p {
        padding-left: 0;
        text-align: center;
    }

    footer .top-section {
        margin-bottom: 20px;
    }

    /* footer */
}
