:root {
    --color-top-1: #091E3E;
    --base-color: #0599D7;
    --transparency: rgba(27, 47, 69, 0.7);
}
body {
    padding: 0;
    margin: 0;
}
/* *********************************************************

********************************************************** */
/* 
a {
    text-decoration: none;
    color: white;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav-fix {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    box-sizing: border-box;
}
#header .nav-infos {
    position: relative;
    z-index: 4;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding: 8px 4%;
    background-color: var(--color-top-1);
}
.infos-left, .infos-right{
    display: flex;
    gap: 10px;
}
.infos-right {
    justify-content: flex-end;
}
.infos-right i {
    font-size: 13px;
}
.infos-right div {
    border: 2px solid white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
}


/* Header */
header .Tete .teteContainer {
    border: 1px solid black;
    display: flex;
    background-color: var(--bleuFonce);
    padding: 15px 20px;
    justify-content: space-between;
}

header .headTete {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.teteContainer .coordonnees {
    display: flex;
}

.teteContainer .coordonnees .coods {
    display: flex;
    margin-right: 10px;
}

.coods .icon {
    margin-right: 5px;
}

.coods p {
    color: white;
}

.icones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icones .sociaux {
    margin-left: 15px;
    padding: 6px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icones span a {
    text-decoration: none;
    color: white;
}

header .detailBack {
    background: #17475957;
}



/* TeteDescript */

.TeteDescript {
    background-color: #0d2b5612;
}

.TeteDescript nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 20px;
    border-bottom: 2px solid rgba(190, 186, 186, 0.627);
}

nav .navRight {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navRight .menu {
    display: flex;
}

.navRight .menu ul {
    display: flex;
    padding-top: 10px;
}

.navRight ul li {
    list-style-type: none;
    margin-left: 30px;
}

.navRight ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.navRight ul li select {
    border: none;
    background: none;
    color: white;
}

.navRight .menu span {
    margin-right: 20px;
    padding-top: 10px;
}

nav .nav-left h1 {
    font-weight: bold;
    color: white;
    font-size: 25px;
}

nav .nav-left a {
    text-decoration: none;
    color: white;
}

nav .nav-left i {
    font-size: 25px;
    margin-right: 5px;
}

.navRight .boutonNav button {
    background: var(--bleuClair);
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
}

.navRight .boutonNav button a {
    text-decoration: none;
    color: white;
}

.navRight .boutonTog {
    display: none;
}

.navRight .dropMenu {
    display: none;
    position: absolute;
    right: 10%;
    top: 100px;
    width: 80%;
    height: 0;
    background-color: #0d3746f3;
    border-radius: 15px;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navRight .menu .navSearch {
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

.navRight .dropMenu.open {
    height: 340px;
}

.navRight .dropMenu li {
    list-style-type: none;
    margin: 20px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navRight .dropMenu li select {
    border: none;
    background: none;
    color: white;
}

.navRight .dropMenu span {
    margin-left: 150px;
    border: 1px solid;
}

.navRight .dropMenu .boutonNav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.navRight .dropMenu button {
    background-color: white;
    color: var(--bleuFonce);
}

.navRight .dropMenu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 18px;
}

.navRight .dropMenu li:hover {
    text-decoration: underline 3px var(--vert);
}

.navRight .dropMenu li .active {
    text-decoration: underline 3px var(--vert);
}

.navRight .menu .drop {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(44, 44, 184, 0.637);
}

.navRight .menu .drop li {
    padding-bottom: 1%;
    margin: 0;
    display: none;
    font-size: 12px;
    font-weight: thin;
    margin: 5px;
}

.navRight .menu ul li:hover .drop li {
    display: block;
    color: var(--bleuFonce);
}

.navRight .menu .drop li a:hover {
    border-bottom: 4px solid var(--bleuClair);
}

.TeteDetails nav .activeLink {
    text-decoration: underline 3px solid var(--bleuClair);
    text-underline-offset: 2rem;
}

.navRight .menu ul .hovLink:hover {
    text-decoration: underline 3px solid var(--bleuClair);
    text-underline-offset: 2rem;
}

/*  TeteTile */
.TeteTitle {
    background: url(../../public/images/accueil/image1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.TeteTitle .titleBack {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d2b5665;
    padding-top: 10%;
}

.TeteTitle .titleContainer {
    margin-bottom: 6%;
    margin-top: 5%;
    text-align: center;
}

.titleContainer h5 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 4%;
    color: white;
}

.titleContainer p {
    font-size: 18px;
    font-weight: thin;
    margin-bottom: 4%;
    color: white;
}

.titleContainer p a {
    text-decoration: none;
    color: white;
}

.titleContainer p span {
    margin-left: 10px;
    margin-right: 10px;
}

.titleContainer p i {
    font-size: 16px;
}

/* header */

/* ********************************************* */
/* 
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -30px;
    padding: 12px 4%;
    position: relative;
}
.navbar a {
    font-weight: 700;
}
.navbar a:hover {
    animation: 100ms ease 0s infinite alternate forwards running animer-moi;
    color: #091E3E;
}
@keyframes animer-moi {
    from {
        color: white;
    }
    to {
        color: black;
    }
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 28px;
}

.burger {
    display: flex;
    align-items: center;
}
.burger #myNav {
    display: flex;
    align-items: center;
    gap: 20px;
}
.openBtn, .closeBtn {
    display: none;
    cursor: pointer;
}

.banner {
    position: relative;
    background-image: url(images/image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner::after{
    content: "";
    position: absolute;
    background-color: var(--transparency);
    inset: 0;
}
.banner-content { 
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.banner-content div a {
    margin: 0 6px;
}  */

/* ***************************************************
                    Section Services
**************************************************** */

#service {
    width: 60%;
    margin: 20px auto;
    text-align: center;
}
 .title-h3 {
    color: #0599D7;
    font-weight: 700;
    font-size: 20px;
} 
 .title-p {
    font-size: 28px;
    font-weight: 700;
    color: #100F39;
    margin-top: 25px;
}
.traits {
    display: grid;
    grid-template-columns: 70px 30px;
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
}
.trait-left, .trait-right {
    border-top: 4px solid #0599D7;
    /* margin-top: -16px; */
    margin-bottom: 35px;
    border-radius: 3px;
}
.services-box  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.box-items {
    background-color: #EEF9FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 14px;
}
.box-items:hover {
    background-color: #06A3DA;
    color: white;
}
.losange {
    width: 42px;
    height: 42px;
    background-color: #06A3DA;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    transform: rotate(45deg);
    margin-bottom: 15px;
}
.losange i {
    transform: rotate(-45deg);
    color: white;
}
/* .box-items p {
    margin-top: -20px;
} */

/* ****************************************************
                Section Testimoniale
***************************************************** */

#festimoniale {
    width: 60%;
    margin: 70px auto;
    text-align: center;
}
.festi-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: left;
}
.festi-box-items {
    background-color: #EEF9FF;
    padding: 10px 30px;
}
.festi-box-items:hover {
    transform: scaleX(1.05);
    background-color: white;
    box-shadow: 0 0 15px #6d6c6c;
}
.festi-box-items hr {
    margin: 0 -30px;
}
.img-desc {
    display: flex;
    gap: 20px;
    align-items: center;
}
.festi-box .fest-profil img {
    width: 34px;
    border-radius: 4px;
}
.festi-box .fest-profil h3 {
    font-size: 16px;
}
.festi-change {
    text-align: center;
    width: 100%;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.festi-change a {
    width: 14px;
    height: 14px;
    background-color: #6d6c6c;
}
.festi-change a:hover {
    background-color: #06A3DA;
    transform: scale(1.1);
}

/* ******************************************************
                    Section marque
****************************************************** */

#marque {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 60%;
    margin: 100px auto;
}
.marque-items {
    width: 100px;
    cursor: pointer;
    transition: 2s ease 0s;
}
.marque-items:hover {
    transform: scale(1.4);
    transition: 2s ease 0s;
}
.marque-items img{
    width: 100px;
}

/* *******************************************************
                Section footer
******************************************************** */

/* #footer {
    background-color: #091E3E;
    display: grid;
    grid-template-rows: auto auto;
    overflow: hidden;
}
#footer .footer-top {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    gap: 30px;
    justify-content: center;
    color: white;
    margin: 0 6%;
    box-sizing: border-box;
}
.logo-bot h3 {
    font-size: 30px;
}
.tiret {
    width: 100px;
    margin-top: -6px;
    margin-bottom: 10px;
    border-top: 4px solid #06A3DA;
}
.logo-bot div{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    margin-right: 10px;
}
.top-section {
    padding: 30px;
    text-align: justify;
}
.top-section h3 {
    min-width: 120px;
}
.top-section:first-child {
    background-color: #06A3DA;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-section:first-child .form-bot {
    align-self: flex-start;
    display: flex;
    height: 50px;
    box-sizing: border-box;
}
.top-section input {
    padding-left: 10px;
    height: 100%;
    border: 0px solid transparent;
    box-sizing: border-box;
}
.top-section input:last-child {
    background-color: #091E3E;
    color: white;
}
.infos-bot {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 0;
}
.infos-bot li i{
    font-size: 16px;
    color: #08528B;
    width: 20px;
}
.media-bot {
    display: flex;
    gap: 10px;
    padding-left: 0;
    min-width: 140px;
}
.media-bot div {
    height: 30px;
    width: 30px;
    margin-top: 10px;
    border-radius: 2px;
    background-color: #06A3DA;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
}
.footer-bot {
    background-color: black;
    height: 70px;
    box-sizing: border-box;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
} */


/* Footer */

footer {
    background-color: #0d2b56;
    padding: 0;
    position: relative;
}

footer .footerContainer {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}

.footerContainer .contentLeft {
    width: 30%;
    padding: 5% 3%;
    background-color: var(--bleuClair);
    z-index: 1;
}

.contentLeft .top-section .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.top-section .logo i {
    color: white;
    font-size: 30px;
    margin-right: 10px;
}

.top-section .logo h3 {
    color: white;
    font-size: 30px;
}

.top-section p {
    text-align: justify;
    color: white;
    margin-bottom: 40px;
}

.top-section input {
    padding: 4% 3%;
    border: none;
}

.top-section button {
    background-color: var(--bleuFonce);
    width: 30%;
    border: none;
    color: white;
    font-weight: bold;
}

.top-section .form-bot {
    display: flex;
}

.top-section input:nth-child(1) {
    width: 70%;
    background-color: white;
}

.top-section input:nth-child(2) {
    width: 24%;
    background-color: var(--bleuFonce);
    color: white;
    font-weight: bold;
}

.footerContainer .contentRight {
    display: flex;
    width: 70%;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 5%;
}

.contentRight h3 {
    color: white;
    margin-bottom: 5%;
}

.top-section-sim .infos-bot {
    margin-bottom: 15px;
}

.top-section-sim li {
    list-style-type: none;
    margin-bottom: 10px;
}

.top-section-sim li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.top-section-sim .media-bot {
    display: flex;
    margin-top: 10px;
}

.media-bot .botIcon {
    margin-right: 10px;
    padding: 10px 15px;
    background-color: var(--bleuClair);
}

.media-bot .botIcon i {
    color: white;
}

.media-bot .botIcon i:hover {
    color: var(--bleuFonce);
}

.contentRight .top-section-sim-2 .infos-bot li {
    list-style-type: none;
    margin-bottom: 10px;
}

.contentRight .top-section-sim-2 .infos-bot li i {
    color: var(--bleuClair);
    margin-right: 10px;
}

.contentRight .top-section-sim-2 .infos-bot li a {
    text-decoration: none;
    color: white;
}

.contentRight .top-section-sim-2 .infos-bot li:hover {
    margin-left: 10px;
}

.copyR {
    background-color: var(--bleuFonce);
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.copyR p {
    margin: 30px;
    color: white;
    padding-left: 30%;
    text-align: center;
}

/* footer */


/* Media queries */
@media (max-width: 900px) {

    .navRight .boutonTog {
        display: block;
        z-index: 1;
        color: white;
    }

    .navRight .dropMenu {
        display: block;
        z-index: 1;
    }

    header .Tete .teteContainer {
        display: none;
    }


    .navRight .dropMenu li:hover .drop {
        display: block;
    }

    .navRight .dropMenu .drop {
        position: absolute;
        display: flex;
        margin-top: 3%;
        margin-left: 60%;
        flex-direction: column;
        margin-bottom: 2%;
        display: none;
    }

    .navRight .dropMenu .drop li {
        margin: 0;
        display: block;
        font-size: 10px;
        font-weight: thin;
    }

    .navRight .dropMenu .drop li a:hover {
        border-bottom: 1px solid var(--bleuClair);
    }

    .teteContainer .coordonnees {
        display: block;
        margin-bottom: 15px;
    }

    .teteContainer .coordonnees .coods {
        justify-content: center;
    }

    .teteContainer .icones {
        display: flex;
        justify-content: center;
    }

    .TeteDescript .navRight .menu {
        display: none;
    }

    .TeteTitle .titleContainer {
        margin-bottom: 6%;
        margin-top: 5%;
        text-align: center;
    }

    .titleContainer h5 {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 4%;
        color: white;
    }

    .titleContainer p {
        font-size: 15px;
        font-weight: thin;
        margin-bottom: 4%;
        color: white;
    }

    /* header */


    /* footer */

    footer {
        padding-top: 30px;
    }

    .footerContainer {
        display: flex;
        flex-direction: column;
    }

    .footerContainer .contentLeft {
        width: 94%;
        margin-bottom: 20px;
    }

    .footerContainer .contentRight {
        width: 94%;
        display: block;
        padding-bottom: 0px;
        margin-bottom: 20px;
    }

    footer .copyR {
        position: relative;
        overflow: hidden;

    }

    footer .copyR p {
        padding-left: 0;
        text-align: center;
    }

    footer .top-section {
        margin-bottom: 20px;
    }

    /* footer */
}